﻿
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */


/*=======================================
    GENERAL STYLES
==================================================*/

html, body {
    font-family:'Open Sans', sans-serif;
    font-size:14px;
    padding-top: 2%;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}

h1 {
    line-height:50px;
    font-weight:900;
    font-size:40px;
    text-transform:uppercase;
    color:rgba(0, 121, 138, 1);
}


.pad-adjust {
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-center {
    text-align:center;
}

h2 {
    line-height:50px;
}
h3 {
    line-height:30px;
}
h4 {
  line-height: 40px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: 900;
}

p {
    font-weight:300;
    line-height:30px;
}

.space-free {
    height:100px;
}

.g-pad-bottom {
    padding-bottom:40px;
}

.c-blue {
   background-color:rgba(0, 121, 138, 1);
   color:#fff;
}
.form-control {
  background-color: rgba(255, 255, 255, 0);
}

.userManagement > .form-group > .form-control {
  margin-left: 1%;
  width: 28%;
  float: left;
}

.userManagement > .form-group > .btn {
  margin-left: 2%;
}

.Editor {
  margin-left: 4%;
  text-align: center;
}

#EditorAce {
  clear:both;
  align-self: center;
  text-align: left;
}

.Editor .form-control {
  width: 80%;
}

.data-label {
  float: left;
  margin-right: 10px;
}

.form-group .profile{
  float:none;
}

.Editor > .buttons > .btn{
  margin: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.DSLITitle > h2 > .btn {
  margin-left: 4%;
}

tbody > tr > td > .form-group {
  margin: 0;
}

table {
  clear:both;
}

.modal-dialog {
  margin: 0px;
}

/*=======================================
    HOME SECTION STYLES
==================================================*/


.head-btn-one {
    background-color: rgba(252, 64, 101, 1);
     border: 0px solid #fff;

}
#home-sec {
    background-color:rgba(0, 121, 138, 1);
}
#home {
    padding-top:15%;
    padding-bottom:15%;
    color:#fff;
}

.top {
  overflow:hidden;
}
.top .title {
  float: left;
  margin-left: 10px;
}

.top .buttons {
  float: right;
  margin-top: 2.3%;
  margin-right: 5%;
}

div .top .buttons {
  margin-top: 2.5%;
  margin-right: 5%;
}
div .top .buttons button {
  margin-left: 10px;
}

.home > .btn {
  margin-left: 30px;
}

.head-main {
    font-size:80px ;
    font-weight:900;
}
.head-sub-main {
    font-size:40px ;
    font-weight:600;
    padding:5px 20px 10px 20px;
}
.head-last {
    font-size:20px ;
    font-weight:300;
    padding:5px 20px 20px 20px;
}

.btn-lg, .btn-group-lg > .btn {
border-radius: 0px;
}

.developer > .btn {
  margin-left: 35%;
  margin-top: 5%;
}

.loading {
  margin-left: 45%;
  margin-top: 15%;
  margin-bottom: 15%;
  font-size:20px;
}

.error {
  font-size:30px;
  color: #FF0000;
  margin-left: 40%;
}

.check-error {
  width: 95%;
}

.dropdown.btn-group {
  margin-bottom: 7%;
}

.Impersonate {
   height: 250px;
   width: auto;
}
/* ===========================================================
   NAVBAR CHANGES
   ============================================================*/
   .navbar {
   	font-size: 14px;
    margin-bottom: 0px;
   }

   .navbar-inverse .navbar-brand {
   	color: #ffffff;
   	font-weight: bolder;
   	font-size: 25px;
       font-weight:900;
   	letter-spacing: 2px;
   }
   .navbar-inverse :hover .navbar-brand:hover {
   	color: #ffffff;
   }
   .navbar-inverse .navbar-nav > li > a {
   color: #FFFFFF;
   }


  .navbar-brand {
    padding: 0px;
  }

  .navbar-brand>img {
    width: 150px;
    height: 100%;
    padding: 10px;
    width: auto;
  }

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
  padding-top: 4%;
  padding-bottom: 4%;
}
#login .form-wrap {
    width: 35%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: none;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
  font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Sigup Section
	-------------------------------------------------- */
#signin {
  padding-top: 4%;
  padding-bottom: 4%;
}
#signin .form-wrap {
    width: 35%;
    margin: 0 auto;
}
#signin h1 {
    color: #1fa67b;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: none;
}
#signin .form-group {
    margin-bottom: 25px;
}
#signin .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#signin .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#signin .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#signin .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#signin .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#signin .forget {
  font-size: 13px;
	text-align: center;
	display: block;
}


/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color:#000;
  text-align:right;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 15px;
  text-decoration:none;
}

#footer > a {
  color:#FFFFFF;
  font-family: 'Arial', sans-serif;
}
#footer > a:hover {
  text-decoration:none;
}

/*    --------------------------------------------------
	:: Contact Support
	-------------------------------------------------- */

.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.contact-title{ text-transform: none; text-align: center; padding-bottom: 7%;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
