/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.active {
  color: green;
}

a{
	text-decoration: none;
	color:#8b292d;
	font-size:1.5em;
}

body{
	background-image: url("../images/sfondo.jpg");
	font-family: 'Verdana', sans-serif;
}

#all{
	background: url("../images/sfondo2.jpg");
	float: left;
	margin: 2% 2% 2% 2%;
	height: 100%;
	font-family: 'Verdana', sans-serif;
	font-size: 80%;
}

.main{
	width: 1000px;
	margin: auto;
}


h2 {
	font-size: 4.2em;
	line-height: 42px;
	text-align:center;
}


#header{
	width: 100%;
	float: left;
}

#header .main{
	text-align: center;
}

#header h1{
	font-size: 4.2em;
    font-variant: small-caps;
    padding: 1.2em 0em 0.3em 0em;
}

#logo{
	display: block;
	width: 20%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
}

#logo img{
	width: 70%;
    padding: 1.3em 1% 0.4em 0;
}

#headerText{
	float: left;
    margin-top: 0.8em;
    padding-left: 1.5em;
    z-index: 1;
}

/*** Menu ***/
#mainmenu {
    width: 100%;
    float: left;
    background: #888;
    margin-top: 4.3%;
}
#mainmenu>ul{
	margin: 0px 0 0px 0px;
	float:left;
	width:100%;
	list-style: none;
}
#mainmenu>ul>li{
	float: left;
	margin: 0 0px 0 0;
	position: relative;
}
#mainmenu>ul>li>ul{
	display: none;
	background: #888;
}
#mainmenu>ul>li:hover>ul{
	display: block;
	position: absolute;
	z-index: 99;
}
#mainmenu a{
	color: #000;
	display: block;
	font: 14px;
	padding: 14px 20px;
	text-transform:uppercase;
}

#mainmenu a:hover {background:#666;}

/* Button Responsive Menu*/
.btn-responsive-menu{
    display: none;
    float: right;
    padding:5px;
    cursor:pointer;
    margin:  9px 20px 0 0;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background:#333;
    border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    position: fixed;
	right: 0;
	top: 10px;
	z-index:3;
}

.icon-bar{
	display: block;
	width: 18px;
	height: 2px;
	margin:5px;
	background-color: #f5f5f5;
	border-radius: 1px;
	border-radius: 1px;
	border-radius: 1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.show{
	display: block!important;
	/*margin-left: 24%;*/
	position: fixed;
	z-index: 2;
}

.show a{
	font-size:1.4em;
}

.show ul{
	background-image:url("../images/sfondo3.jpg");
}

.showmenu #all{
	opacity: 1;
	visibility: visible;
	background: rgba(0,0,0,0.7);
}

.showmenu #prodotti-evidenza{
	opacity: 1;
	visibility: visible;
	background: rgba(0,0,0,0);
}

.showmenu img.full-width{opacity: 0.3;}

.showmenu .modulo{opacity: 0.3;}

.showmenu .btn-responsive-menu{position:fixed}

.showmenu #list-categorie a{opacity: 0.3;}

.showmenu #breadcrumb a{opacity: 0.3;}

#breadcrumb{
	float: left;
	width: 100%;
	margin-bottom: 3%;
}
#breadcrumb a{
	text-decoration: underline;
}
#prodotti-evidenza{
	background-image: url("../images/sfondo3.jpg");
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	height: auto;
	float: left;
}

#prodotti-evidenza h2{
    color: black;
    margin: 40px 0 0 0;
}

#moduli_home{
	list-style-type: none;
	margin-top: 40px;
	width: 100%;
	float: left;
}

.modulo{
	/*width: 253px;
	margin: 15px 40px;*/
	width: 29%;
	margin: 1% 2%;
	height: 462px;
	float: left;
	background-color: #fff;

}

.modulo:last-child{
	margin-right: 0;
}

.modulo{
	width: 29%;
	margin: 1% 3%;
}

.modulo:nth-child(3n+1){
	margin-left: 0;
}

.modulo:nth-child(3n){
	margin-right: 0;
}

.modulo img{
	width: 100%;
}

.modulo div{
	width: 80%;
	padding: 10%;
	height: 45%;
}

.modulo div{
	padding: 39px 38px 25px 38px;
	width: 178px;
	height: 226px;
	position: relative;
}

.titolo_modulo{
	font-size: 1.9em;
}

.titolo_black{
	color:black;
}

.titolo_gray{
	color:#646464;
}

.btn_modulo{
	width: 98px;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 25px;
}

.btn_black{
	background-image: url('../images/btn_black.png');
}

.btn_gray{
	background-image: url('../images/btn_gray.png');
}

#content{
	width: 100%;
	padding-top: 48px;
    padding-bottom: 8%;
    float: left;
    line-height: 1.5em;
}

#content .main{
	position: relative;
}

.content-full-width{
    width: 96%;
    padding-right: 2%;
    padding-left: 2%;
    float: left;
}

img.full-width{
	display: block;
	width: 90%;
	padding: 2% 5%;
}

img.center{
	margin: auto;
}

.desc_modulo_gray {
    font-size: 1.3em;
    color: #646464;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.4em;
}

.desc_modulo_black{
    font-size: 1.3em;
    color: #646464;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.4em;
}

.btn_modulo{
	width: 98px;
	height: 40px;
	display: block;
}

#footer{
	background-color: #333;
	width: 100%;
	/*height: 390px;*/
	float: left;
	/*min-width: 1000px;*/
}

#footer.main{
	height: 295px;
	color:#feffff;
	padding-top: 25px;
}
#footer .bottom{
	width: 100%;
	height: 77px;
	text-align: center;
	background-color: #010101;
	color: #99999a;
	font-size: 16px;
	line-height: 77px;
}

#footer .bottom p{
	height: 77px;
	line-height: 38px;
}


/*		PAGINA ACCANCIATORI E ESTETICHE 	*/
#list-categorie{
	float: left;
	width: 100%;
}
#list-categorie>li, #list-categorie>li>ul{
	float: left;
	width: 100%;
	padding-top: 2em;
    padding-bottom: 1em;
}
#list-categorie li img{
	width: 100%;
}
#list-categorie>li>a{
	font-size: 2em;
	text-decoration: underline;
}

/*		PAGINA SOTTOCATEGORIA 		*/
#list-prodotti{
	float: left;
	width: 100%;
}
#list-prodotti li img{
	width: 100%;
}
#list-prodotti .modulo:nth-child(3n+1){
    margin-left: 0;
}
#list-prodotti .modulo:nth-child(3n){
	margin-right: 0;
}

/* 		PAGINA PRODOTTO 		*/
#title-prodotto{
	float: right;
    width: 50%;
    text-align: left;
    margin-bottom: 1%;
}
.imgProdotto{
	float: left;
	width: 44%;
	margin: 1% 3%;
	clear: left;
}

.descrizioneProdotto{
	float: right;
	width: 50%;
	margin: 2% 0;
}
.materiali{
	float: left;
	width: 25%;
}
.materiali span{
	font-size: 1.5em;
	margin-bottom: 2%;
	display: block;
	font-weight: bold;
}
.materiali li{
	margin-left: 16px;
}
.prezzo{
	font-size: 1.5em;
	font-weight: bold;
}
.prezzo .valore{
	font-weight: normal;
	font-style: italic;
}




/* 		BACKEND 		*/
/* 		PRODOTTI 		*/

#formRicercaProdotti{
	float: left;
	widows: 100%;
}

#productsList{
	float: left;
	width: 100%
}

#productsList tr{
	margin-bottom: 1% 0;
	border-bottom: solid 1px #000;
}


/* 			MODIFICA PRODOTTO 		*/
#modificaProdottoForm{
	float: left;
	width: 100%;
}

#modificaProdottoForm label, #modificaProdottoForm legend{
	font-size: 1.2em;
	font-weight: bold;
}
#modificaProdottoForm label{
	float: left;
}
#modificaProdottoForm fieldset{
	float: left;
	width: 98%;
	border: solid 1px #000;
	margin: 3% 0;
	padding: 1% 1%;
}
#modificaProdottoForm span.info{
	float: left;
	width: 100%;
}
#immaginiAssociate{
	float: left;
	width: 100%;
}
#immaginiAssociate li{
	float: left;
	width: 100%
}
#immaginiAssociate input{
	float: left;
}
#immaginiAssociate img{
	width: 15%;
	float: left;
}

label[for="descrizioneProdotto"]{
	float: left;
}
#descrizioneProdotto{
	float: left;
}

#salvaModifiche{
	float: left;
}

.block{
	float: left;
	width: 100%;
	padding: 1.3em;
}
input[name="tipoCategoria"]{
	float: left;
}

.contatti p{
	padding: 1em 0em 0em 1em;
	font-size:1.3em;
}


